<%meta title: "Bathroom Renovation Edinburgh - Renovation Group", description: "Bathroom renovations Edinburgh. We specialize in quick and cheap renovation services, tiling, painting and more.", keywords: %w(renovation house edinburgh cheap bathroom home affordable renovation services)%>

<section class="row">
<aside class="col-sm-4 col-md-4 aside">




<ul class="sub-left-nav">
	<li><%= link_to 'Home renovation', root_path %></li>
	<li><%= link_to 'Bathroom renovation', bathroom_path %>
</ul>
<p style="color:grey; font-size:0.8em; margin-top:30px;">Relax! More categories comping up soon.</p>

<ul class="sub-left-nav">
<li><a href="http://www.house-renovations-edinburgh.com#contact-cheap-house-renovations-edinburgh">Contact</a></li>
</ul>









</aside>

<section class="col-sm-7 col-md-7 main-section-sub">
		<h1 class="sub-h1">Bathroom Renovation Edinburgh</h1>

		<p>For the past 10 years members of the Renovation Group have been working around Edinburgh to gain experience and to learn the most effective ways of providing quality service.</p>
		<p>We're a group of freelance builders specializing in different categories. One of our services offers a Bathroom Renovation in Edinburgh area.</p>

		<p>To make sure that you are ready and set to begin renovation of your bathroom, we've included a 15 steps checklist for you to get familiar with the process of bathroom renovations.</p>

		<p><a href="http://freshome.com/2012/11/15/the-15-point-checklist-before-starting-a-bathroom-renovation/#ixzz3Tnz5iqjR ">The 15 Point Checklist Before Starting a Bathroom Renovation</a>
</p>


		<%= image_tag('bathroom-renovation-edinburgh.jpg', alt: 'Bathroom renovation Edinburgh - Renovation Group') %>
		<p class="credit">Photo taken by: <a href="https://www.flickr.com/photos/dbrooker/" target="_blank">dbrooker1</a></p>
<br><br>

		<h2 class="sub-h2">So how much will it cost?</h2>
		<p>Being a freelance builder allows us to cut the cost significantly. You don't pay for any middle-man, tool hire, office work, admin payments or the project management.</p>

		<p>By doing this we believe that anyone can afford renovation of their bathroom in Edinburgh.</p>

		<p>Quoting the price without seeing what has to be done is quite a challenge, therefore please keep in mind that the <u>price may vary</u> from job to job depending on circumstances.</p>
		<p>
		One of the cheapest bathroom renovations we've completed in the past 10 years costed <u>£450</u>for labour cost. This price was quoted for complete bathroom renovation including installation of the new equipment and the plumbing work. We're happy to spend extra few hours <u>free</u> just to make sure that everything is working perfectly.</p>

		<hr>
		<p>
		Cost of building materials can be found on the offical <a href="http://www.diy.com/" target="_blank"> <span style="font-family:arial">B&amp;Q  DYI</span></a> website.</p>
		</p>

		
		<h2 class="sub-h2">Are there any hidden costs?</h2>
		<p><u>Absolutely no.</u> We are very honest and hardworking people doing what we are passionate about. Of course depending on the project there might  be additional costs such as: Fixing wallboards, dealing with mould, plumbing issues etc.

		</p>

		<h2 class="sub-h2">How long does it take?</h2>
		<p>Our experts are extremely hard working and strict about their deadlines. The shortest bathroom renovation in Edinburgh took us <u>only 2 days</u></p>

		<h2 class="sub-h2 ">What if I refer a friend?</h2>
		<p>If you refer a friend and he will use our services, you might be eligible for a big discount on your next project or win free services from <b>Renovation Group</b>.</p>



		<hr>
		<h5>Youth Development <span class="glyphicon glyphicon-heart" style="color:#E32D2D;"></span></h5>
		<p style="font-size:0.8em; color:#444;">Renovation Group supports youth community. Everytime people use our services we spend a percentage of the profit to build a development plan which will allow us to launch workshops and classes teaching various categories.</p>
		<span class="in-view"></span>
		<p style="font-size:0.8em; color:#444;">
		Young people will be able to taste every single job that we do. From home renovations in Edinburgh to business or web development.
		</p>

		<hr>
		<p>Please help the youth community and share!</p>
		<div class="fb-share-button" data-href="http://www.house-renovations-edinburgh.com/bathroom-renovation-edinburgh" data-layout="button_count"></div>
		<br><br>

</section>
</section>

<br>



    <script>

$('.in-view, footer').bind('inview', function(event, visible) {
      if (visible) {

        $('.aside').fadeOut();
      } else {
       	$('.aside').fadeIn();
      }
    });


    </script>