<aside class="col-sm-4 col-md-4 aside">




<ul class="sub-left-nav">
	<li><%= link_to 'Home renovation', root_path %></li>
	<li><%= link_to 'Bathroom renovation', bathroom_path %>
</ul>
<p style="color:grey; font-size:0.8em; margin-top:30px;">Relax! More categories comping up soon.</p>

<ul class="sub-left-nav">
<li><a href="http://www.house-renovations-edinburgh.com#contact-cheap-house-renovations-edinburgh">Contact</a></li>
</ul>









</aside>